version: '3.8'

services:
  elasticdb:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.12.1
    environment:
      - discovery.type=single-node
    ports:
      - 9200:9200
      - 9300:9300